.navbar{
    justify-content: space-between;
    padding: 20px;
    display: flex;
    color: rgb(236, 10, 10);
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 20px;
    align-items:flex-start;
    color: whitesmoke;
}
body{
    background-color: black;
    
}
.logo{
    font-size: 24px;
    font-style: bold;
}
.icons span {
  margin-left: 20px;
  cursor: pointer;
}
h2{
    color:whitesmoke;
}
.img1{
    height: 200px;
    width: 150px;
}


