.box{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    

}
.card1{
    max-width: 300px;
    height: 320px;
    box-shadow: 0 4px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
    object-fit: cover;
    background-color: black;
    color: azure;
    border-radius: 10px;
    border-top-left-radius: 10px;
    
}
.card2{
    max-width: 300px;
    height:320px;
    box-shadow: 0 4px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
    object-fit: cover;
    background-color: black;
    color: azure;
    border-radius: 10px;
}
.container {
  padding: 2px 16px;
}
.card:hover {
  box-shadow: 0 8px 16px  rgba(220, 17, 17, 0.2);
}
